# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/

# Django stuff
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3
media/
staticfiles/
# If using Django collectstatic
/static/

# Environment variables
.env
.env.*

# IDE / editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Pipenv / Poetry
Pipfile.lock
poetry.lock

APIKey.csv
credentials.json
qr-demo-app.pem